---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Content from "@/components/Content.astro";
import SeoPage from "@/components/SeoPage.astro";

const customLinks = [
    {
      "id": "1728534585739",
      "title": "🎥 Teórico de Programación FUNCIONAL (Franco Luque)",
      "url": "https://www.youtube.com/playlist?list=PLLswL1pDm9IySjKob9nqV9xzlQlfHf1T_"
    },
    {
      "id": "1728534585740",
      "title": "🎥 Teórico de Programación IMPERATIVA (Franco Luque)",
      "url": "https://www.youtube.com/playlist?list=PLLswL1pDm9IyEJ1zCLOs8qpEZLtPE_eqE"
    },
    {
      "id": "1728534585741",
      "title": "🎥 LAB de Programación Imperativa (Ale Gadea)",
      "url": "https://www.youtube.com/playlist?list=PLLswL1pDm9Ix-uLjXPcfZN_m59luQYVhy"
    },
    {
      "id": "1728534585742",
      "title": "🎥 Práctico de Programación Imperativa (Franco Luque)",
      "url": "https://www.youtube.com/playlist?list=PLLswL1pDm9Iwlb_XFikf9HUiRlLPzFjuW"
    },
    {
      "id": "back-home",
      "title": "⬅ Volver atrás",
      "url": "/"
    }
];
---

<BaseLayout
  floatingButtonUrl="https://www.youtube.com/@goalritmo/playlists"
  floatingButtonIcon="lucide:play"
  floatingButtonLabel="Playlists de YouTube"
>
  <SeoPage slot="head" title="Clases de Algoritmos I" />
  <main>
    <Content 
        title="Clases de Algoritmos I"
        bio="Computación FAMAF"
        links={customLinks}
    />
    <!-- Spacer to match index layout consistency -->
    <div class="py-4"></div>
  </main>
</BaseLayout>
